@import "normalize.css";

:root {
  /* Custom CSS properties */
}

html {
  overflow: hidden;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100svh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* GAMEBOARD */
.grid-container {
  display: flex;
  gap: 200px;
}

.board {
  display: flex;
  flex-direction: column;
  height: 400px;
  width: 400px;
}

#real-player-board {
  border: 2px solid rgb(14, 154, 25);
}

#computer-board {
  border: 2px solid rgb(228, 20, 20);
}

.row,
.column {
  display: flex;
  flex: 1;

  & .column {
    border: 1px solid rgb(0, 0, 0);
  }
}

/* Exclude hover effect over miss and hit cells */
.column:not(.miss, .hit):hover {
  background-color: rgb(188, 181, 173);
  cursor: pointer;
}

/* Disable clicking over miss and hit cells */
.column:is(.miss, .hit) {
  pointer-events: none;
}

/* Disable the board */
.disable {
  background-color: rgb(197, 194, 194);
  pointer-events: none;
}

.ship {
  background-color: rgb(78, 79, 78);
}

.hit {
  background-color: rgb(148, 40, 40);
}

.miss {
  background-color: rgb(26, 81, 99);
}

.sunk {
  background-color: chartreuse;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Give the hidden attribute most priority - fixes issue where
 * an html element can be marked as hidden but is still visible.
 * Use aria-hidden="true" to hide visual elements from
 * screen readers. */
[hidden] {
  display: none !important;
}
