@import "normalize.css";

@font-face {
  font-family: "Orbitron";
  src: url("../assets/fonts/Orbitron-VariableFont_wght.ttf") format("truetype");
  font-style: normal;
  font-weight: 400;
}

:root {
  /* Custom CSS properties */
  --font: "Orbitron";
  --board-size: 500px;
  --grid-container-gap: 30px;
  --cell-size: calc((var(--board-size) / 10));
  --background: linear-gradient(to top, #0052d4, #65c7f7, #9cecfb);
}

html {
  overflow: hidden;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100svh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding-top: 70px;
  font-family: var(--font);
  background: var(--background);
}

.game-wrapper {
  position: relative;
  display: flex;
  height: calc(var(--board-size) + 420px);
  flex-direction: column;
  gap: 30px;
}

.winner-msg {
  display: none;
  position: absolute;
  width: 500px;
  top: 9rem;
  color: rgb(56, 56, 56);
  font-size: 2.4rem;
  text-align: center;
  font-weight: bold;
  text-shadow:
    0 0 2px #a7fc58,
    0 0 4px #a7fc58;
  animation: glow 2s infinite alternate;
}

@keyframes glow {
  0% {
    text-shadow:
      0 0 2px #a7fc58,
      0 0 4px #a7fc58;
  }
  100% {
    text-shadow:
      0 0 3px #f7c36a,
      0 0 6px #f7c36a;
  }
}

.header {
  height: 160px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 4rem;
  font-weight: bold;
  user-select: none;
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 0.9rem;
  width: 100%;
  padding-bottom: 5px;
  user-select: none;
}

.footer a {
  text-decoration: none;
  color: rgba(0, 0, 0, 0.711);
  display: flex;
  gap: 17px;
  justify-content: center;
  align-items: center;
}

.footer img {
  height: clamp(15px, 4vw, 20px);
  width: clamp(15px, 4vw, 20px);
  transition: transform 0.4s ease;
  opacity: 0.7;
}

.footer img:hover {
  transform: scale(1.1);
}

.footer span:hover {
  color: #aef1f678;
}

.footer a:visited {
  color: var(--font-color-content);
  text-decoration: none;
}

/* GAMEBOARD */
.grid-container {
  display: flex;
  align-items: center;
  gap: var(--grid-container-gap);
}

.player-board-wrapper,
.computer-board-wrapper {
  display: flex;
  flex-direction: column;
}

.real-player-status,
.computer-player-status {
  height: 40px;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: bold;
  user-select: none;

  color: #030a71;
  text-shadow: 0 0 2px rgba(33, 31, 31, 0.3);
  letter-spacing: 0.5px;
}

.board {
  display: flex;
  flex-direction: column;
  height: var(--board-size);
  width: var(--board-size);
}

.options-wrapper {
  position: absolute;
  left: -10%;
  top: 13.5%;
  display: flex;
  gap: 25px;
  align-items: center;
  flex-direction: column;
}

.playerShips {
  height: 420px;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 40px;
}

.shipWrapper {
  display: flex;
  width: auto;
  height: auto;
}

.vs {
  display: flex;
  height: 500px;
  width: 100px;
  font-size: 3rem;
  align-items: center;
  justify-content: center;
  padding-top: 70px;
  margin-right: 30px;
  user-select: none;
}

button.random-btn,
button.rotate-btn {
  width: 60px;
  height: 60px;
  cursor: pointer;
  transition: transform 0.3s;
}

.restart-btn-shadow {
  box-shadow: 0 0 8px 2px rgba(59, 45, 252, 1);
}

button.restart-btn {
  width: 60px;
  height: 100px;
  cursor: pointer;
  background: url(../assets/images/rotate.svg) no-repeat;
  background-position: center;
  background-size: 50px 50px;
  transition: transform 0.3s;
}

button.restart-btn:hover,
button.rotate-btn:hover,
button.random-btn:hover {
  transform: scale(1.1);
  background-color: #48b5ec;
}

button.random-btn {
  background: url(../assets/images/random.svg) no-repeat;
  background-position: center;
  background-size: 50px 50px;
}

button.rotate-btn {
  position: relative;
  background: url(../assets/images/ship.svg) no-repeat;
  background-position: center;
  background-size: 40px 40px;
}

button.rotate-btn::after {
  content: "";
  position: absolute;
  top: 2px;
  right: 2px;
  width: 20px;
  height: 20px;
  background: url(../assets/images/rotate.svg) no-repeat;
  background-size: contain;
}

button {
  border: 1px solid black;
  border-radius: 4px;
}

.shipName {
  position: absolute;
  pointer-events: none;
  user-select: none;
  height: 100%;
  z-index: 2;
  user-select: none;
}

.rotated .shipName {
  height: 0;
}

/* Ships */
#ship1,
#ship2,
#ship3,
#ship4,
#ship5 {
  display: flex;
  position: relative;
  font-size: 0.9rem;
  font-weight: bold;
  justify-content: center;
  cursor: pointer;
  max-width: 300px;

  /* Shift transition remaining ships within the panel after ship has been removed */
  overflow: hidden;
  transition:
    opacity 0.3s ease,
    max-width 0.3s ease;

  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#ship1 > div.cell,
#ship2 > div.cell,
#ship3 > div.cell,
#ship4 > div.cell,
#ship5 > div.cell {
  height: var(--cell-size);
  width: var(--cell-size);
}

#ship1 > div.cell {
  background-color: #decf22;
}

#ship2 > div.cell {
  background-color: #28edd9;
}

#ship3 > div.cell {
  background-color: rgb(236, 120, 66);
}

#ship4 > div.cell {
  background-color: rgb(236, 188, 126);
}

#ship5 > div.cell {
  background-color: rgb(91, 239, 142);
}

.row-wrapper {
  position: relative;
}

.row-labels {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  position: absolute;
  transform: translateX(-100%);
  transform-origin: right;
  transition: opacity 1.5s ease;
  opacity: 1;
  user-select: none;
}

.col-labels {
  display: flex;
  font-size: 1.5rem;
  margin-top: -15px;
  transition: opacity 1.5s ease;
  opacity: 1;
  user-select: none;
}

span {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#real-player-board {
  background-color: black;
  transition: opacity 1.5s ease;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

#computer-board {
  background-color: black;
  transition: opacity 1.5s ease;
  box-shadow:
    rgba(0, 0, 0, 0.16) 0px 3px 6px,
    rgba(0, 0, 0, 0.23) 0px 3px 6px;
}

/* Gameboard cells */
.row,
.column {
  display: flex;
  flex: 1;
}

/* Checker board pattern */
.row:nth-child(odd) .column:nth-child(even) {
  background-color: #abdefd;
}

.row:nth-child(even) .column:nth-child(odd) {
  background-color: #abdefd;
}

.row:nth-child(odd) .column:nth-child(odd) {
  background-color: #e0ffff;
}

.row:nth-child(even) .column:nth-child(even) {
  background-color: #e0ffff;
}

/* Remove edge borders */
/* First row */
.column:nth-child(-n + 10) {
  border-top: none;
}

/* Last row */
.row:nth-child(n + 10) {
  border-bottom: none;
}

/* First column */
.column:nth-child(1) {
  border-left: none;
}

/* Last column */
.column:nth-child(10) {
  border-right: none;
}

/* Exclude hover effect over miss and hit cells */
#computer-board .column:hover {
  background-color: rgb(43, 214, 24) !important;
}

#computer-board .column {
  cursor:
    url("../assets/images/crosshair.png") 32 32,
    crosshair;
}

#real-player-board .column:hover {
  cursor: default;
}

/* Disable clicking over miss and hit cells */
.column:is(.miss, .hit, .sunk) {
  pointer-events: none;
}

/* CUSTOM CLASS STYLES */
/* Disable the board */
.disable {
  background-color: transparent;
  pointer-events: none;
}

.dim {
  opacity: 0.7;
}

.rotate-btn.dim,
.random-btn.dim,
.restart-btn.dim {
  opacity: 0.3;
}

#real-player-board .ship {
  background-color: rgb(40, 28, 75);
}

.hit {
  background-color: rgb(250, 103, 77) !important;
  background-image: url(../assets/images/hit.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.miss {
  background-color: rgb(78, 183, 253) !important;
  background-image: url(../assets/images/miss.svg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

.sunk {
  background-color: rgb(248, 206, 68) !important;
  background-image: url(../assets/images/sunk.svg);
  background-repeat: no-repeat;
  background-size: 40px, 40px;
  background-position: center;
}

[id^="ship"].highlightShip {
  width: fit-content;
  outline: 1px solid rgba(62, 10, 108, 0.7);
  box-shadow: rgb(63, 38, 170) 0px 0 8px 5px !important;
}

.rotated {
  flex-direction: column;
}

.hovered {
  background-color: rgb(10, 166, 18) !important;
}

.invalid {
  background-color: rgb(223, 60, 60) !important;
}

.computer-shadow {
  box-shadow: rgb(162, 19, 19) 0px 0 8px 2px !important;
}

.player-shadow {
  box-shadow: rgb(41, 98, 17) 0px 0 8px 2px !important;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Give the hidden attribute most priority - fixes issue where
 * an html element can be marked as hidden but is still visible.
 * Use aria-hidden="true" to hide visual elements from
 * screen readers. */
[hidden] {
  display: none !important;
}
