@import "normalize.css";

:root {
  /* Custom CSS properties */
  --board-size: 400px;
  --grid-container-gap: 150px;
  --cell-size: calc((var(--board-size) / 10) - 1px);
}

html {
  overflow: hidden;
  -webkit-text-size-adjust: none;
  text-size-adjust: none;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  margin: 0;
  padding: 0;
  min-height: 100vh;
  min-height: 100svh;
  box-sizing: border-box;
  display: flex;
  align-items: center;
  justify-content: center;
}

.game-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}

/* GAMEBOARD */
.grid-container {
  display: flex;
  gap: var(--grid-container-gap);
}

.board {
  display: flex;
  flex-direction: column;
  height: var(--board-size);
  width: var(--board-size);
}

.playerShips {
  position: absolute;
  right: calc(100% + 20px);
  outline: 1px solid black;
  width: 350px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
}

/* Rotate ship button */
button.rotate-btn {
  pointer-events: none;
  opacity: 0.5;
  position: fixed;
  top: 30%;
  width: 30px;
  height: 30px;
  margin-top: -40px;
  cursor: pointer;
}

/* Ships */
#ship1,
#ship2,
#ship3,
#ship4,
#ship5 {
  display: flex;
  cursor: pointer;
  gap: 1px;
  transform-origin: center;
  max-height: 190px;

  /* Shift transition remaining ships within the panel after ship has been removed */
  overflow: hidden;
  transition:
    opacity 0.3s ease,
    max-height 0.3s ease;
}

/* Remove later */
#ship1 > div.cell,
#ship2 > div.cell,
#ship3 > div.cell,
#ship4 > div.cell,
#ship5 > div.cell {
  height: var(--cell-size);
  width: var(--cell-size);
  background-color: rgb(123, 10, 171);
}

#real-player-board {
  border: 1px solid rgb(14, 154, 25);
}

#computer-board {
  border: 1px solid rgb(228, 20, 20);
}

/* Gameboard cells */
.row,
.column {
  display: flex;
  flex: 1;

  & .column {
    border: 1px solid rgb(0, 0, 0);
  }
}

/* Exclude hover effect over miss and hit cells */
#computer-board .column:not(.miss, .hit):hover {
  background-color: rgb(188, 181, 173);
  cursor: pointer;
}

#real-player-board .column:not(.ship):hover {
  background-color: transparent;
  cursor: default;
}

/* Disable clicking over miss and hit cells */
.column:is(.miss, .hit) {
  pointer-events: none;
}

/* CUSTOM CLASS STYLES */
/* Disable the board */
.disable {
  background-color: rgb(197, 194, 194);
  pointer-events: none;
}

/* Disable player's board when computer is attacking */
.transparent {
  background-color: transparent;
  pointer-events: none;
}

.ship {
  background-color: rgb(78, 79, 78);
}

.hit {
  background-color: rgb(148, 40, 40);
}

.miss {
  background-color: rgb(26, 81, 99);
}

.sunk {
  background-color: chartreuse;
}

[id^="ship"].highlightShip {
  outline: 2px solid rgb(227, 27, 27);
}

.rotated {
  flex-direction: column;
}

.hovered {
  background-color: green;
}

.invalid {
  background-color: red;
}

button.enableRotate {
  opacity: 1;
  pointer-events: all;
}

@media (prefers-reduced-motion: no-preference) {
  html {
    scroll-behavior: smooth;
  }
}

/* Give the hidden attribute most priority - fixes issue where
 * an html element can be marked as hidden but is still visible.
 * Use aria-hidden="true" to hide visual elements from
 * screen readers. */
[hidden] {
  display: none !important;
}
